<div id="main" fxLayout="row" fxLayout.xs="column" fxFlex>
  <!--List Shows-->
  <section fxFlex="1 6 16%" fxFlexOrder fxFlexOrder.xs="1">
    <app-shows-list></app-shows-list>
  </section>

  <!--Display Selected Show Detail-->
  <section fxFlex="3 1 34%" fxFlexOrder fxFlexOrder.xs="2">
    <app-show-detail></app-show-detail>
  </section>

  <!--List Episodes-->
  <section fxFlex="1 6 17%" fxFlexOrder fxFlexOrder.xs="3">
    <app-episodes-list></app-episodes-list>
  </section>

  <!--Display Selected Episode Detail-->
  <section fxFlex="3 1 33%" fxFlexOrder fxFlexOrder.xs="4">
    <app-episode-detail></app-episode-detail>
  </section>
</div>
