#div1, #div2{
    position: absolute;
    height: 75px;
    width: 125px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

#div1{
    margin-top:25px;
    margin-left: 25px;
    background-color: lightcoral;
}

#div2 {
    margin-top: 75px;
    margin-left: 100px;
    background-color: lightblue;
    margin-bottom: 200px;
}

.back{
    z-index: 1;
    opacity: 0.5;
}

.front{
    z-index: 2;
    opacity: 1;
}

#accordion-wrapper, .accordion-heading, .closed{
    width: 400px;
    margin: 0 auto;
}

.closed .slide-content{
    height: 0;
    overflow: hidden;
    transition: height 0.4s ease-out;
    transform: scaleY(0);
}

.open .slide-content{
    height: auto;
    overflow: visible;
    width: 100%;
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 0.3s ease;
    padding: 5px 3px 5px 5px;
    border: 1px solid green;
    /*width: 400px;*/
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.accordion-heading{
    background-color: red;
    cursor: pointer;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
}

.slide{
    margin-bottom: 10px;
}

.open .accordion-heading{
    background-color: green;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#accordion-wrapper{
    margin-top: 200px;
    margin-bottom: 40px;
}

#slideshow-wrapper{
    height: 320px;
    width: 480px;
    margin: 0 auto;
}

.img{
    position: absolute;
}

.img h2{
    position: fixed;
    margin-top: 0;
    padding-left: 175px;
    text-shadow: 2px 2px white;
}