#div1, #div2{
    position: absolute;
    height: 75px;
    width: 125px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid black;
}
#div1{
    margin-top:25px;
    margin-left: 25px;
    background-color: lightcoral;
    z-index: 0;
}
#div2 {
    margin-top: 75px;
    margin-left: 100px;
    background-color: lightblue;
    opacity: 0.5;
}
.back{
    z-index: -1;
}
.front{
    z-index: 1;
}
.content{
    height: 0;
    width: 400px;
}

#accordion{
    margin-top: 200px;
}