<div class="panel-heading">Cast & Crew Credits <span *ngIf="showsList && currentPerson">({{ showsList.length }})</span></div>
<div id="episodes-container" #episodesContainer>
  <div *ngIf="showsList"> <!-- null check -->

    <!-- displays if there are episodes associated with the currently selected show -->
    <div *ngIf="showsList.length > 0" class="list-group">

      <!-- TODO: These links work now...but you may want to consider -->
      <!-- TODO: how you'll need to update them once routing is implemented -->
      <a href="#" class="list-group-item" *ngFor="let show of showsList"
         [class.active]="show === selectedShow"
         (click)="onSelect(show)">
      </a>

    </div>

    <!-- displays if a show has been selected but there are no episodes associated with it -->
    <!-- (ie. episodes array is empty) -->
    <div *ngIf="showsList.length === 0 && currentPerson">
      <span style="padding: 25px; font-style: italic;">No Shows Available</span>
    </div>

  </div>
</div>
