<ngx-loading [show]="loading"></ngx-loading>
<div class="panel-default panel-heading">List of Shows <span *ngIf="showsList?.length > 0">({{ showsList.length }})</span></div>
<div class="panel-default">

  <form action="" class="search-form">
    <div class="form-group has-feedback">
      <label for="search" class="sr-only">Search</label>
      <input #searchBox (keyup)="searchShows(searchBox.value)" type="text" class="form-control" name="search" id="search" placeholder="Search Shows...">
      <span class="glyphicon glyphicon-search form-control-feedback"></span>
    </div>
  </form>

</div>

<div id="shows-container">

  <!-- display this div if searchShows resulted in one or more results found -->
  <div *ngIf="showsList?.length > 0" class="list-group">

    <!-- TODO: These links work now...but you may want to consider -->
    <!-- TODO: how you'll need to modify them once some form of routing is implemented -->
    <a routerLink="/shows" class="list-group-item"
       *ngFor="let show of showsList"
       (click)="onSelect(show)"
       [class.active]="show === selectedShow">
      {{show.name}}
      <span *ngIf="show?.network?.country"> ({{show.network.country.code}})</span>
      <span *ngIf="show?.webChannel?.country"> ({{show.webChannel.country.code}})</span>
    </a>

  </div>

  <!-- display this div if searchShows was entered but no results were returned -->
  <div *ngIf="showsList?.length === 0 && searchBox.value.length > 0" class="list-group">
    <span style="padding: 15px; font-style: italic">No Results Found</span>
  </div>
</div>
