#panel{
  height: calc(100% - 42px);
  overflow-y: auto;
  padding: 10px;
}
.panel-heading {
  background-color: #f5f5f5;
}
.castTable {
  display: table;
}
.castTableRow {
  display:table-row;
  margin-bottom: 3px;
}
.castTableCell {
  display:table-cell;
}
.tableRowSpacer{
  display:table-row;
  height:15px;
}
.castTableCellRight {
  padding-left:5px;
}
