body{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('../images/main-bg.png');
    bottom: 0;
}

nav{
    margin-bottom: 25px;
}

h1, h2, a{
    font-family: 'Squada One', cursive;
}

p{
    font-family: 'Comfortaa', cursive;
}

.text-wrapper{
    color: white;
    font-size: 30px;
}

.text-wrapper h1{
    font-size: 80px;
}

.form-wrapper{
    margin: 0 auto;
    width: 50%;
    background-color: #464a4e;
    opacity: 0.8;
    color: white;
    font-size: 24px;
    padding: 25px 4%;
    margin-bottom: 25px;
}

.form-wrapper h2{
    font-size: 48px;
    margin-bottom: 25px;
}

.form-row{
    margin-bottom: 20px;
}

.spacer{
    height: 100px;
}

/* INPUT CUSTOM STYLES */
/* Credit goes to -- http://jsbin.com/yezemaniqi/edit?html,css,output -- for this cool trick*/

input[type="radio"]{
    visibility: hidden;
    position: absolute;
}

input[type="radio"] + label{
    cursor: pointer;
}

input[type=radio] + label:before{
    height:16px;
    margin-right: 4px;
    content: " ";
    display:inline-block;
    vertical-align: baseline;
    transition: 0.3s;
    border:1px solid #ccc;
    border-radius:10px;
    background-color: white;
    box-shadow: inset 0 -3px 6px #e4e4e4;

}

input[type="radio"] + label:before{
    border-radius: 50%;
    width: 16px;
}

input[type="radio"]:checked + label:before{
    box-shadow: inset 0 -1px 3px #e4e4e4, inset 0 0 1px #222, inset 0 0 0 3px red, 0 0 0 1px black;
    background-color: white;
}

/* END CUSTOM RADIO STYLES */

/* CUSTOM INPUT TEXT STYLES */

input[type="text"]:focus,
input[type="email"]:focus {
    box-shadow: 0 0 8px 4px #ff3030;
}

option{
    border-radius: 4px;
}


/* Custom Button Span Style */

#comment-text, #submit{
    width: 50%;
    margin: 0 auto;
}

#submit a{
    margin: 0 auto;
}

.button{
    width: 100%;
    margin: 0 auto;
    display: block;
    padding: 8px 10px ;
    text-transform: uppercase;
    font-family: 'Squada One', cursive;
    font-weight: lighter;
    color: white;
    background-color: red;
    text-align: center;
    font-size: 36px;
    letter-spacing: 3px;
    border-radius: 8px;
}

a:hover{
    text-decoration: none;
}

#comments{
    margin-bottom: 25px;
}

footer{
    color: white;
    clear: both;
    padding: 8px 10px 1px 10px;
}

/* START MEDIA QUERIES */

@media screen and (max-width: 991px){
    .form-wrapper{
        width: 75%;
    }
}

@media screen and (max-width: 768px){

    .text-wrapper h1{
        font-size: 54px;
    }

    .text-wrapper p{
        font-size: 24px;
    }

    .form-wrapper{
        font-size: 20px;
    }

    .form-wrapper h2{
        font-size: 36px;
    }

    #comment-text, #submit{
        width: 75%;
        margin: 0 auto;
    }

    .button{
        margin: 0 auto;
        font-size: 22px;
    }

    .spacer{
        height: 50px;
    }
}

@media screen and (max-width: 480px){
    .text-wrapper h1{
        font-size: 48px;
    }

    .text-wrapper p{
        font-size: 20px;
    }
}