body{
    background-image: url("../images/main-bg.png");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    bottom: 0;
    padding-bottom: 10%;
}

h1{
    font-family: "Squada One", cursive;
    color: white;
    font-size: 68px;
    padding-top: 25px;
}

.carousel-outer:before{
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.5em;
}

.carousel-outer{
    padding-left: 15%;
}

.carousel-inner{
    background-color: rgba(255,255,255,0.7);
    margin-left: 0;
}

.carousel-indicators{
    margin-left: -20%;
}

.carousel-indicators:hover{
    cursor: pointer;
}

.carousel-item{
    height: 100%;
}

.carousel-item .col-md-8{
    float: left;
    padding-right: 0;
    height: 50%;
}

#employees{
    width: 100%;
    height: 600px;
    background-image: url("../images/employees_php.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

#parrot{
    width: 100%;
    height: 600px;
    background-image: url("../images/parrot_coded.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

#mastermind{
    z-index: 50;
    width: 100%;
    height: 600px;
    background-image: url("../images/mastermind.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.carousel-card{
    float: right;
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    vertical-align: top;
    padding-top: 10%;
}

.carousel-card a{
    vertical-align: bottom;
}

.contact-button{
    background-color: #ff000a;
    color: white;
    font-size: 18px;
    padding: 6px;
    width: 250px;
    /* css gradient snippet */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff4040), to(#ff000a));
    background-image: -webkit-linear-gradient(top, #ff4040, #ff000a);
    background-image: -moz-linear-gradient(top, #ff4040, #ff000a);
    background-image: -ms-linear-gradient(top, #ff4040, #ff000a);
    background-image: -o-linear-gradient(top, #ff4040, #ff000a);
    background-image: linear-gradient(to bottom, #ff4040, #ff000a);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ff4040, endColorstr=#ff000a);
}

.contact-button:hover{
    cursor: pointer;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#cc2229), to(#ff000a));
    background-image: -webkit-linear-gradient(top, #cc2229, #ff000a);
    background-image: -moz-linear-gradient(top, #cc2229, #ff000a);
    background-image: -ms-linear-gradient(top, #cc2229, #ff000a);
    background-image: -o-linear-gradient(top, #cc2229, #ff000a);
    background-image: linear-gradient(to bottom, #cc2229, #ff000a);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#cc2229, endColorstr=#ff000a);
}
